<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Add Points</title>
</head>

<body>
    <div class="container">
        <form method="post" action="/superuser/work_withdraw_status/{{employee.id}}">
            {% csrf_token %}
            <label>
                <h1> Withdraw Amount </h1>
            </label><br>
            <input type="number" name="withdr"><br><br>
            <button type="submit"> Withdraw Points </button>
        </form>
    </div>
</body>

</html>