<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
</head>
<body>
    <h1>Enter Your Credentials</h1><br>
    <form method="post" action='/user/login_index'>
        {% csrf_token %}
        <label> User Name </label><br>
        <input type="text" name="uname"><br>
        <label> Password </label><br>
        <input type="text" name="upassword"><br><br>
        <button type="submit">Log in</button>
    </form>
</body>
</html>